{extend name="main" /}

{block name="body"}
{include file="breadcrumb" /}
<div class="layui-fluid">
    <div class="layui-card">
        <div class=" layui-card-header layuiadmin-card-header-auto">
            <form class="layui-form" method="get">
                <input type="hidden" name="bcid" value="{:input('bcid')}"><!--保留当前位置的bcid参数-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">物料名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="materials_name" id="materials_name" value="{:input('materials_name')}"  class="layui-input"  placeholder="搜索物料名称">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <input style="display: none" id="materials_id" name="materials_id">
        <div class="layui-card-body">
            <table class="layui-table">
                <tr>
                    <th><b>物料名称</b></th>
                    <th><b>物料编码(系统自动生成不允许修改)</b></th>
                    <th><b>主类目</b></th>
                    <th><b>子类目</b></th>
                    <th><b>是否启用</b></th>
                    <th style="padding: 0 15px;line-height: 40px;"><b>操作</b> <span style="float: right"><a href="{:url('materials_add')}" data-width="800px" data-height="650px" class="layui-btn layui-btn-sm xn_open" title="添加物料">添加物料</a></span> </th>
                </tr>

                <tbody>
                {foreach name="list" item="vo"}
                <tr>
                    <td>{$vo.materials_name}</td>
                    <td>{$vo.materials_number}</td>
                    <td>{$vo.category_node}：{$vo.category_name}</td>
                    <td>{$vo.subcategory_number}：{$vo.subcategory_name}</td>
                    {if($vo.status == '0')}
                    <td style="background-color: red">{$vo.status_name}</td>
                    {/if}
                    {if($vo.status == '1')}
                    <td style="background-color: greenyellow">{$vo.status_name}</td>
                    {/if}
                    <td>
                        <a href="{:url('materials_edit',array('materials_id'=>$vo['materials_id']))}" data-width="600px" data-height="650px" title="{$vo.materials_name}--编辑" class="layui-btn layui-btn-normal layui-btn-xs xn_open">
                            <i class="layui-icon layui-icon-edit"></i>编辑
                        </a>
                        <a href="{:url('srm_custom_product_bind',array('materials_id'=>$vo['materials_id']))}" class="layui-btn layui-btn-xs xn_open"   onclick="fuzhi({$vo.materials_id})"  title="{$vo.materials_name}--设置供应商">
                            绑定供应商</a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pages">{$list|raw}</div>
</div>
{/block}
{block name="js"}
<script>
    function fuzhi(materials_id) {
        $("#materials_id").val(materials_id);
    }
</script>
{/block}