{extend name="iframe" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
            <form action="{:request()->url()}" method="post" class="xn_ajax" data-type="open">
                <div>
                    采购单总价：{$srm_apply_purchase_order_price}
                </div>
                <input style="display: none"  name="verify_status"  id="verify_status" value="">
                <input style="display: none"  name="verify_second_status"  id="verify_second_status" value="">
                <div class="layui-card-body">
                    <table class="layui-table">
                        <tr>
                            <th><b>物料名称</b></th>
                            <th><b>物料编号</b></th>
                            <th><b>主类目</b></th>
                            <th><b>子类目</b></th>
                            <th><b>采购数量</b></th>
                            <th><b>物料单价</b></th>
                            <th><b>物料总价</b></th>
                        </tr>
                        <tbody>
                        {foreach name="list" item="vo"}
                        <tr>
                            <td>{$vo.materials_name}</td>
                            <td>{$vo.materials_number}</td>
                            <td>{$vo.category_node}：{$vo.category_name}</td>
                            <td>{$vo.subcategory_number}：{$vo.subcategory_name}</td>
                            <td>{$vo.num}</td>
                            <td>{$vo.product_price}</td>
                            <td>{$vo.product_price_all}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                <div>
                    采购备注：{$srm_apply_purchase_order_info.remark}
                </div>
                {if($check == 2)}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" lay-submit class="layui-btn" onclick="verifystatus(2)">一级审核通过</button>
                        <button type="submit" lay-submit class="layui-btn" style="background-color: red" onclick="verifystatus(1)"> 一级审核驳回</button>
                    </div>
                </div>
                {/if}
                {if($check_second == 2)}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" lay-submit class="layui-btn" onclick="verifystatussecond(2)">二级审核通过</button>
                        <button type="submit" lay-submit class="layui-btn" style="background-color: red" onclick="verifystatussecond(1)"> 二级审核驳回</button>
                    </div>
                </div>
                {/if}
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    function verifystatus(status) {
        layui.use('layer',function(){
            $("#verify_status").attr("value",status);
        });

    }
    function verifystatussecond(status) {
        layui.use('layer',function(){
            $("#verify_second_status").attr("value",status);
        });

    }
</script>
{/block}
