{extend name="main" /}

{block name="body"}
{include file="breadcrumb" /}
<div class="layui-fluid">
    <div class="layui-card">
        <div class=" layui-card-header layuiadmin-card-header-auto">
            <form class="layui-form" method="get">
                <input type="hidden" name="bcid" value="{:input('bcid')}"><!--保留当前位置的bcid参数-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="product_name" id="product_name" value="{:input('product_name')}"  class="layui-input"  placeholder="搜索产品名称">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">所属公司</label>
                        <div class="layui-input-inline">
                            <select name="company_id" lay-verify="required" lay-search="" id="company_id">
                                <option value="">直接选择或搜索选择</option>
                                {foreach name = "company_list" item = "value" }
                                <option value="{$value.company_id}">{$value.company_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <input style="display: none" id="product_id" name="product_id">
        <div class="layui-card-body">
            <table class="layui-table">
                <tr>
                    <th><b>产品名称</b></th>
                    <th><b>所属公司</b></th>
                    <th><b>产品类型</b></th>
                    <th><b>产品采购价格</b></th>
                    <th><b>创建人</b></th>
                    <th><b>创建时间</b></th>
                    <th><b>操作</b></th>
                    <th><b>绑定供应商</b></th>
                </tr>

                <tbody>
                {foreach name="list" item="vo"}
                <tr>
                    <td>{$vo.product_name}</td>
                    <td>{$company_info[$key]}</td>
                    <td>{$product_class[$key]}</td>
                    <td>{$purchase_price[$key]}</td>
                    <td>{$user_info[$key]}</td>
                    <td>{$vo.create_date}</td>
                    <td>
                        <a href="{:url('srm_product_edit',array('product_id'=>$vo['product_id']))}" class="layui-btn layui-btn-xs xn_open" title="{$vo.product_name}--产品信息">
                           产品信息
                        </a>
                        <!--<a href="{:url('srm_custom_index_by_product_id',array('product_id'=>$vo['product_id']))}" class="layui-btn layui-btn-xs xn_open" title="{$vo.custom_name}&#45;&#45;产品所关联的供应商列表" style="background-color: black">-->
                            <!--产品所关联的供应商列表-->
                        <!--</a>-->
                    </td>
                    <td>
                        <a href="{:url('srm_custom_product_bind',array('product_id'=>$vo['product_id']))}" class="layui-btn layui-btn-xs xn_open"   onclick="fuzhi({$vo.product_id})"  title="{$vo.product_name}--{$company_info[$key]}--设置供应商">
                        绑定供应商</a>
                    </td>

                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pages">{$list|raw}</div>
</div>
{/block}
{block name="js"}
<script>
    function fuzhi(product_id) {
        $("#product_id").val(product_id);
    }
</script>
{/block}