{extend name="main" /}
{block name="body"}
{include file="breadcrumb" /}
<div class="layui-form layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">录入供应商基本信息</div>
                <div class="layui-card-body" pad15="">
                        <form action="{:request()->url()}" method="post" class="xn_ajax">
                        <div class="layui-form" wid100="" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">供应商名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="custom_name" id="custom_name"  value="" class="layui-input"  lay-verify="custom_name">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">法人</label>
                                <div class="layui-input-block">
                                    <input type="text" name="legal_person" id="legal_person" value="" class="layui-input" lay-verify="legal_person">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">联系人</label>
                                <div class="layui-input-block">
                                    <input type="text" name="contact"  id="contact"  value="" class="layui-input" lay-verify="contact">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话</label>
                                <div class="layui-input-block">
                                    <input type="text" name="custom_phone"  id="custom_phone"  value="" class="layui-input" lay-verify="custom_phone">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">公司地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="company_address" id="company_address" value="" class="layui-input" lay-verify="company_address">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">工厂地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="factory_address" id="factory_address" value="" class="layui-input" lay-verify="factory_address">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">主要产品</label>
                                <div class="layui-input-block">
                                    <input type="text" name="first_level_industry"  id="first_level_industry" value=""  class="layui-input" lay-verify="first_level_industry">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">品质认证标准</label>
                                <div class="layui-input-block">
                                    <input type="text" name="quality_cognition_standard" id="quality_cognition_standard" value="" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">创立时间</label>
                                <div class="layui-input-block">
                                    <div class="site-demo-laydate">
                                        <div type="text"   name="company_create_dates" id="company_create_dates"  value=""  class="layui-inline"></div>
                                    </div>
                                    <input type="text"   name="company_create_date" id="company_create_date" style="display: none"  value=""  class="layui-inline">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="set_website">确认保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //自定义验证规则
        form.verify({
            custom_name: function(value){
                if(value.length < 3){
                    return '供应商名称不能为空';
                }
            }
            ,legal_person: function(value){
                if(value.length < 3){
                    return '法人不能为空';
                }
            }
            ,custom_phone: function(value){
                if(value.length < 3){
                    return '电话不能为空';
                }
            }
            ,company_address: function(value){
                if(value.length < 3){
                    return '公司地址不能为空';
                }
            }
            ,factory_address: function(value){
                if(value.length < 3){
                    return '工厂地址不能为空';
                }
            }
            ,first_level_industry: function(value){
                if(value.length < 3){
                    return '主要产品不能为空';
                }
            }
            ,contact: function(value){
                if(value.length < 1){
                    return '联系人不能为空';
                }
            }

        });

        //执行一个laydate实例
        laydate.render({
            elem: '#company_create_dates' ,//指定元素
            done: function(value, date, endDate){
            }
        });
        laydate.render({
            elem: '#company_create_dates',
            position: 'static',
            done: function(value, date, endDate){
//                alert(value); //得到日期生成的值，如：2017-08-18
                $('#company_create_date').val( value);

            }
        });

    });
</script>
{/block}